<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<section class="banner">
		<div class="container mt-4">
			<div class="row">


				<div>
					<h2 class="text-center text-primary">Contact-US Online Crime
						Reporting System</h2>
				</div>
				<hr>
				<br>
				<br>


				
				<div style="background-color: white; height: 150vh; width: 100vw;">
					<table>
						<thead>
							<tr>
								<th>Police Officer Id</th>
								<th>Police Officer Name</th>
								<th>Police Badge Number</th>
								<th>Rank</th>
								<th>Email</th>
								<th>Contact Number</th>
								<th>Police Station</th>
								<th>Photo</th>






							</tr>
						</thead>
						<tbody>
							<tr th:each="policeOfficerDTO : ${policeOfficerDTOs}">
								<td th:text="${policeOfficerDTO.id}"></td>
								<td th:text="${policeOfficerDTO.name}"></td>
								<td th:text="${policeOfficerDTO.badgeNumber}"></td>
								<td th:text="${policeOfficerDTO.rank}"></td>
								<td th:text="${policeOfficerDTO.email}"></td>
								<td th:text="${policeOfficerDTO.contactNumber}"></td>
								<td th:text="${policeOfficerDTO.policeStationselect}"></td>
								<td>		 		
			<img th:src="@{/onlinecrimereportingsystem/police/image/{id}(id=${policeOfficerDTO.id})}" 
     alt="Police Profile"
			style="width: 100px; height: 100px; object-fit: cover; margin-right: 10px;" /></td>








							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>


	</section>
</body>
</html>
