<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card">
						<!-- Display success/error message -->
						<div class="container text-center" id="box1">

							<div th:if="${successMessage}" class="success alert-success"
								th:text="${successMessage}"></div>
							<div th:if="${errorMessage}" class="error alert-danger"
								th:text="${errorMessage}"></div>

						</div>
						<div class="container text-center">
							<img style="width: 10%;" th:src="@{/images/sign-up.png}" />
						</div>
						<h1 class="text-center">Register Here !!</h1>
						<form novalidate
							th:action="@{/onlinecrimereportingsystem/do_register}"
							method="post" th:object="${user}" enctype="multipart/form-data">


							<!-- User name Field start -->
							<div class="form-group">
								<label for="username">Enter Your Name</label> <input type="text"
									class="form-control"
									th:classappend="${#fields.hasErrors('username') ? 'is-invalid': ''}"
									id="username" name="username" th:field="*{username}"
									placeholder="Enter Your Name">

								<div class="invalid-feedback"
									th:each="e :${#fields.errors('username')}" th:text="${e}">
								</div>


							</div>
							<!-- End user name field -->


							<!-- Email Field start -->
							<div class="form-group">
								<label for="emailid">Enter Your Email ID</label> <input
									type="text" class="form-control" id="emailid" name="emailid"
									th:classappend="${#fields.hasErrors('emailid') ? 'is-invalid': ''}"
									th:field="*{emailid}" placeholder="Enter Your Email ID">

								<div class="invalid-feedback"
									th:each="e :${#fields.errors('emailid')}" th:text="${e}">
								</div>


							</div>



							<div class="container text-center">
								<button type="button" class="btn btn-secondary m-2"
									id="sendOTPButton" onclick="requestOTP()">Send OTP</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="otp"
									placeholder="Enter OTP" maxlength="6">
								<button type="button" id="verifyOtpButton"
									class="btn btn-warning">Verify OTP</button>
								<div id="otpError" style="display: none; color: red;">Invalid
									OTP</div>



							</div>




							<!-- End Email field -->

							<!-- Password Field start -->
							<div class="form-group">
								<label for="password">Enter Your Password</label> <input
									type="password" class="form-control" id="password"
									name="password"
									th:classappend="${#fields.hasErrors('password') ? 'is-invalid': ''}"
									th:field="*{password}" placeholder="Enter Your Password">
								<div class="invalid-feedback"
									th:each="e :${#fields.errors('password')}" th:text="${e}">
								</div>


							</div>
							<!-- End passowrd field -->


							<!-- textarea message Field start -->
							<div class="form-group">
								<textarea class="form-control" id="message" name="message"
									th:field="*{message}" rows="10"
									placeholder="Enter Something About YourSelf"></textarea>
							</div>
							<!-- End message field -->
							<!-- Image Upload Field -->
							<div class="form-group">
								<label for="image">Upload Your Image</label> <input type="file"
									class="form-control-file" id="image" name="image"
									th:field="*{image}" accept="image/*"
									th:classappend="${#fields.hasErrors('image') ? 'is-invalid': ''}">
								<div class="invalid-feedback"
									th:each="e :${#fields.errors('image')}" th:text="${e}"></div>
							</div>
							<!-- End Image Upload Field -->
							<!-- Role Selection Field -->
							<div class="form-group">
								<label for="role">Select Role</label> <select
									class="form-control" id="role" name="role" th:field="*{role}"
									th:classappend="${#fields.hasErrors('role') ? 'is-invalid' : ''}"
									onChange="toggleSecretKeyField()">
									<option value="USER">USER</option>
									<option value="ADMIN">ADMIN</option>
									<option value="POLICE">POLICE</option>
								</select>
								<div class="invalid-feedback"
									th:each="e: ${#fields.errors('role')}" th:text="${e}"></div>
							</div>

							<!-- Secret Key Field for Admin -->
							<div class="form-group" style="display: none;"
								id="secretKeyField">
								<label for="adminSecretKey">Enter Admin Secret Key</label> <input
									type="text" class="form-control" id="adminSecretKey"
									name="secretKey"
									th:classappend="${#fields.hasErrors('secretKey') ? 'is-invalid' : ''}"
									placeholder="Enter Admin Secret Key" />
								<div class="invalid-feedback"
									th:each="e: ${#fields.errors('secretKey')}" th:text="${e}"></div>
							</div>

							<!-- Badge Number Field for Police -->
							<div class="form-group" style="display: none;"
								id="secretKeyForPolice">
								<label for="policeBadgeNumber">Enter Badge Number</label> <input
									type="text" class="form-control" id="policeBadgeNumber"
									name="secretKeypolice"
										placeholder="Enter Badge Number" />
								
							</div>

							<!-- Terms & Condition Check   -->
							<div class="form-group form-check">
								<input class="form-group-check" type="checkbox" id="agreement"
									th:field="*{agreement}" name="agreement"> <label
									for="agreement">Accept Terms & Condition</label>
							</div>
							<div class="container text-center">
								<button class="btn btn-primary text-white" type="submit"
									id="submitButton" disabled>Submit</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button class="btn btn-warning text-white" type="reset">Reset</button>


							</div>


						</form>

					</div>
				</div>
			</div>
		</div>


	</section>

	<!-- Place for page scripts -->
	<div th:replace="${scripts}"></div>
</body>
</html>
