<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{polices/police-base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>

</head>
<body>



<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card">
						<!-- Display success/error message -->

						<!-- Display success/error message -->
			<div class="container text-center" id="box1">

						<div th:if="${successMessage}" class="success alert-success"
							th:text="${successMessage}"></div>
						<div th:if="${errorMessage}" class="error alert-danger"
							th:text="${errorMessage}"></div>

</div>



						<div class="container text-center">
							<img style="width: 10%;" th:src="@{/images/user-profile.png}" />
						</div>



						<h3 class="text-center m-3" >Change Your Password !!</h3>
						<form th:action="@{/onlinecrimereportingsystem/forgotpassword/password-update}" method="post">
								
								
									
								
								
								<div class="form-group">
								<label for="olpassword">Enter Your Old Password</label>
								<input class="form-control" type="text" id="oldpassword" name="oldpassword"
								placeholder="Enter Old Password here " required>
								
								</div>	
								
								<div class="form-group">
								<label for="password">Enter Your New Password</label>
								<input class="form-control" type="text" id="password" name="password"
								placeholder="Enter New Password here " required>
								
								</div>		
								
							<!-- ===================================================================================================== -->
							<div class="container text-center">
								<button class="btn btn-success text-white" type="submit">Update</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button class="btn btn-warning text-white" type="reset">Reset</button>


							</div>
						</form>		

					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>